{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %}
{% block content %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
   

    <div class="carousel-item active"
      style="background-image: url(../assets/images/Mikro_maksimal_endirim_30.png); background-size:cover; height:600px; width:100%">

      <div class="pause">
        <div class="progress-container">
          <div style="animation-duration: 2s" class="progress"></div>
          <div style="animation-duration: 5s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
        </div>

      </div>

      <div class="text">
        <h3>İş adamları üçün yeni biznes kart </h3>
        <p> “Business Plus”-ı seçin, <br> hər zaman plyusda olun!</p>
        <button>Ətraflı</button>
      </div>

    </div>
    <div class="carousel-item"
      style="background-image: url(../assets/images/kredit\ xetti_Slider.png); background-size:cover; height:600px; width:100%">
      <div class="pause">
        <div class="progress-container">
          <div style="animation-duration: 2s" class="progress"></div>
          <div style="animation-duration: 5s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
        </div>



      </div>
      <div class="text">
        <h3>NeoKart krediti </h3>
        <p> İndi, Siz güzəşt müddəti 45 gün olan <br> 15.000 AZN-dək kredit xətti əldə edə biləcəksiniz! <br> Pul
          xərclədikcə isə, KEŞBEK qazanacaqsınız!</p>
        <button>Ətraflı</button>
      </div>
    </div>

    <div class="carousel-item"
      style="background-image: url(../assets/images/Bplus_slider_visa.png); background-size:cover; height:600px; width:100%">
      <div class="pause">
        <div class="progress-container">
          <div style="animation-duration: 2s" class="progress"></div>
          <div style="animation-duration: 5s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
        </div>



      </div>
      <div class="text">
        <h3>Neo Qalaktikada daha çox bonus qazanacaqsınız! </h3>
        <p> NeoKart DAHA SƏRFƏLİ oldu! <br> İndi Siz, NEO QALAKTİKADA misilsiz bonuslar qazanacaqsınız! <br>
          Ödənişlərinizi NeoKart ilə edin və 55%-dək keşbek qazanın!</p>
        <button>Ətraflı</button>
      </div>
    </div>
    <div class="carousel-item"
      style="background-image: url(../assets/images/Neo\ qalaktika_Slider\ .png); background-size:cover; height:600px; width:100%">
      <div class="pause">
        <div class="progress-container">
          <div style="animation-duration: 2s" class="progress"></div>
          <div style="animation-duration: 5s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
        </div>



      </div>
      <div class="text">
        <h3>Pullarınızı Bank Respublika ilə yığmaq daha sərfəli olacaq! </h3>
        <p> Bank Respublika ”Faydalı Yığım” adlı <br> yeni əmanət məhsulunu təqdim etdi!</p>
        <button>Ətraflı</button>
      </div>
    </div>
    <div class="carousel-item"
      style="background-image: url('https://www.bankrespublika.az/uploads/kredit%20xetti_Slider.png'); background-size:cover; height:600px; width:100%">
      <div class="pause">
        <div class="progress-container">
          <div style="animation-duration: 2s" class="progress"></div>
          <div style="animation-duration: 5s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
          <div style="animation-duration: 3s" class="progress"></div>
        </div>



      </div>
      <div class="text">
        <h3>İş adamları üçün yeni biznes kart </h3>
        <p> “Business Plus”-ı seçin, <br> hər zaman plyusda olun!</p>
        <button>Ətraflı</button>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div style="width: 100%;">
  <div class="container">
    <div class="valyuta mb-5 mt-5">
      <ul>
        <li>Alis/Satis</li>
        <li><span>Eur</span>
          1.68 / {{currency["ValCurs"]["ValType"][1]["Valute"][1]["Value"]}}</li>


        <li> <span>GBP</span>
          1.851  /{{currency["ValCurs"]["ValType"][1]["Valute"][34]["Value"]}}</li>
        <li> <span>RUB</span>
          0.024  / {{currency["ValCurs"]["ValType"][1]["Valute"][16]["Value"]}}</li>
        <li> <span>USD</span>
          1.601 / {{currency["ValCurs"]["ValType"][1]["Valute"][0]["Value"]}}</li>
      </ul>
    </div>


    <div class="row d-flex justify-content-between mt-5 mb-5 sifaris">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Plastik Kart Sifarişi</h5>
            <div>
              <div>

                <p style="margin-bottom: 0;"> <i class="fa-solid fa-check text-success"> </i> <span
                    class="ms-2">Kartınızı <u style=" text-decoration:underline">PULSUZ</u> əldə edin</span></p>
                <p> <i class="fa-solid fa-check text-success"></i><span class="ms-2">Cash-back bonuslar qazanın</span>
                </p>
                <button style="width:100%; border-radius: 20px; " type="button" class="btn btn-primary">Sifariş
                  et</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nağd Pul Krediti </h5>
            <div>
              <div>

                <p style="margin-bottom: 0;"> <i class="fa-solid fa-check text-success"> </i> <span class="ms-2">Nağd
                    kredit indi daha sərfəli! 15%-dan!</span></p>
                <p> <i class="fa-solid fa-check text-success"></i><span class="ms-2"><u
                      style=" text-decoration:underline">30.000 AZN</u>-dək maksimal kredit məbləği</span></p>
                <button style="width:100%; border-radius: 20px; " type="button" class="btn btn-primary">Krediti sifariş
                  et</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Onlayn Kredit Ödənişi</h5>
            <div>
              <div>

                <p style="margin-bottom: 0;"> <i class="fa-solid fa-check text-success"> </i> <span class="ms-2"><u
                      style=" text-decoration:underline">Banka gəlmədən</u> </span></p>
                <p> <i class="fa-solid fa-check text-success"></i><span class="ms-2">Bir dəqiqə ərzində ödəniş</span>
                </p>
                <button style="width:100%; border-radius: 20px; " type="button" class="btn btn-primary">Krediti onlayn
                  ödə</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="range-price mt-5 mb-5">
      <h2 style="font-size: 25px;">Kreditinizi dərhal hesablayın</h2>
      <a href=""> Nağd pul krediti</a>
      <div class="range d-flex">
        <div>
          <div class="mb-3">
            <h6 style="font-size:14px;">Kreditin məbləği</h6>
            <input type="text" class="form-control texts" id="exampleInputEmail1" aria-describedby="emailHelp" min="100"
              max="30000" value="15000">
            <input type="range" class="ranges" id="customRange1" value="15000" min="100" max="30000">
            <div class="rangetext">
              <p>100</p>
              <p>30 000</p>
            </div>
            <span>AZN</span>
          </div>
        </div>
        <div>
          <div class="mb-3">
            <h6 style="font-size:14px;">Kreditin müddəti</h6>
            <input type="text" class="form-control texts" id="exampleInputEmail2" aria-describedby="emailHelp" min="100"
              max="30000" value="5">
            <input type="range" class="ranges2" id="customRange2" value="5" min="1" max="36">
            <div class="rangetext">
              <p>1</p>
              <p>36</p>
            </div>
            <span>Ay</span>
          </div>
        </div>
        <div>
          <div style="margin-bottom: 53px !important;" class="mb-3">
            <h6 style="font-size:14px;width: 320px;">Aylıq ödəniş (şərti, orta faiz dərəcəsi ilə)</h6>
            <input class="form-control texts" id="exampleInputEmail3" aria-describedby="emailHelp" min="100" max="30000"
              value="70">
            <input style="visibility:hidden;" type="range" class="form-range ranges" id="customRange3" value=""
              min="100" max="30000">
            <span>AZN</span>
          </div>
        </div>
      </div>
      <button style=" border-radius: 20px; " type="button" class="btn btn-primary">Kredit sifaris et</button>

    </div>
    <h2 style="text-align: center;">Öz bank məhsulunuzu seçin</h2>
    <div class="cardslide mt-5 mb-5">
      <div class="row">
        <div class="col-md-3">
          <div class="slideshow-container">
            <h3 class="blue" style="color: #a7a7a7; font-size:initial;">{{category[0].product}}</h3>
            {%for i  in product %}
            {% if i.category_id==category[0].id%}
             <div class="mySlides mt-5 blue">

              <h4 class="author blue"> {{i.title}}</h4>
              {% if i.description %}
               <p style=" font-size:medium" class="blue mt-2">{{i.description}}</p>
              {% else%}

              <p style=" font-size:medium" class="blue mt-2"></p>
              {%endif%}
            </div>
            {% endif%}
            {% endfor%}

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

          </div>

          <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card blue">
            <div class="card-body blue">
              <h3 class="card-title white">{{category[2].product}}</h3>
               {%for i in product %}
               {% if i.category_id==category[2].id %}

              <p class="card-text mt-5 c white">{{i.title}}</p>
              {%endif%}
              {%endfor%}

            </div>
          </div>

        </div>
        <div class="col-md-3 ">
          <div class="card blue">
            <div class="card-body blue">
              <h3 class="card-title white ">{{category[1].product}}</h3>
              {%for i in product %}
              {% if i.category_id==category[1].id %}
              <p class="card-text mt-5 white ">{{i.title}} </p>
              {%endif%}
              {%endfor%}

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="slideshow-containers">
            <h3 class="blues" style="color: #a7a7a7; font-size:initial;">{{category[3].product}}</h3>
           {% for product in product%}
           {% if product.category_id==category[3].id   %}
            <div class="mySlidess mt-5">
              <h4 class="authors class  blues">{{product.title}}
              </h4>
              
              <p>{{product.description}}</p>
            </div>
            {% endif %}
            {% endfor %}

            




            <a class="prevs" onclick="plusSlidess(-1)">❮</a>
            <a class="nexts" onclick="plusSlidess(1)">❯</a>

          </div>

          <div class="dot-containers">
            <span class="dots" onclick="currentSlidess(1)"></span>
            <span class="dots" onclick="currentSlidess(2)"></span>
            <span class="dots" onclick="currentSlidess(3)"></span>
          </div>
        </div>


      </div>

    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div style="
        margin-top: 50px;
    " class="col-md-8">
      <div style="position: relative;" class="phone" style="height:300px;">
        <h2 style="font-size: revert;">Mobil şöbə – bankınız bir toxunuşda!</h2>
        <p style="height: 130px;" class="mt-3 mb-3"> Bank Respublika-nın Mobil Şöbəsi müştərilərə çox sadə, rahat və
          operativ bank xidmətləri ilə dünyanın istənilən ölkəsindən idarəetmə imkanı yaradan bir xidmətdir.</p>
        <button type="button" class="btn btn-primary">Etrafli oxu</button>
        <img style="position: absolute;" src="https://www.bankrespublika.az/uploads/Screens/girl%281%29.png" alt="">
        <ul class="onelinelist">
          <li> <a href="">
              <img src=" https://www.bankrespublika.az/site/views/site/images/app-store-badge.svg" alt="">
            </a> </li>
          <li> <a href="">
              <img style="width: 116px; height:36px"
                src="https://www.bankrespublika.az/uploads/AZ%20AppGallery%20Logo%20Black.png " alt="">
            </a></li>
          <li> <a href="">
              <img src="https://www.bankrespublika.az/site/views/site/images/google-play-badge.svg" alt="">
            </a></li>
        </ul>

      </div>
    </div>
    <div class="col-md-4">
      <div style="width: 90%;" class="mlmt">
        <div class="slideshow-containerss">

          <div
            style="background-image: url(../assets/images/lombard\ endirim\ post.jpeg); background-size:cover"
            class="mySlidesss ">
            <div class="imgs">
              <a style="position: absolute;
              z-index: 2;
              right: 15px;
              top: 15px;
              text-decoration: underline;
              color: white;"
              href="">Butun kompanyalar</a>
              <div style="  position: absolute;
              z-index: 2;
              height: 60%;
              width: 90%;
              margin-left: 20px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              top: 22%;">
                <h3>Lombard krediti üzrə ENDİRİM kampaniyası</h3>
                <p>Kampaniya çərçivəsində müştərilər daha az çəkili qızılı girov qoyub, daha böyük məbləğdə krediti
                  SƏRFƏLİ ŞƏRTLƏRLƏ əldə edə biləcək!</p>
                <button> Ətraflı</button>
              </div>
            </div>

          </div>
          <div
            style="background-image: url(https://www.bankrespublika.az/uploads/lombard%20endirim%20post.jpg); background-size:cover"
            class="mySlidesss ">
            <div class="imgs">
              <a style="position: absolute;z-index: 2;right: 15px;top: 15px;text-decoration: underline;color: white;"
              href="">Butun kompanyalar</a>
              <div style=" position: absolute;z-index: 2;height: 60%;width: 90%;margin-left: 20px;display: flex;flex-direction: column;justify-content: space-around;top: 22%;">
                <h3>Lombard krediti üzrə ENDİRİM kampaniyası</h3>
                <p>Kampaniya çərçivəsində müştərilər daha az çəkili qızılı girov qoyub, daha böyük məbləğdə krediti
                  SƏRFƏLİ ŞƏRTLƏRLƏ əldə edə biləcək!</p>
                <button> Ətraflı</button>
              </div>
            </div>

          </div>
          <div
            style="background-image: url(../assets/images/mekteb\ nagd\ kampaniya_fb.jpeg); background-size:cover"
            class="mySlidesss ">
            <div class="imgs">
              <a style="position: absolute;
              z-index: 2;
              right: 15px;
              top: 15px;
              text-decoration: underline;
              color: white;"
              href="">Butun kompanyalar</a>
              <div style=" position: absolute;
              z-index: 2;
              height: 60%;
              width: 90%;
              margin-left: 20px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              top: 22%;">
                <h3>Bank Respublika “Yeni mövsümə hazır ol!” kredit kampaniyasına start verir!</h3>
                <p>Belə ki, sentyabr ayının 30-dək “Bank Respublika”ya müraciət edən istənilən peşə sahibləri nağd
                  istehlak kreditlərini illik 14%-lə və 0% komissiya ilə götürmək imkanı əldə edəcəklər.</p>
                <button> Ətraflı</button>
              </div>
            </div>

          </div>




          <a class="prevss" onclick="plusSlidesss(-1)">❮</a>
          <a class="nextss" onclick="plusSlidesss(1)">❯</a>

        </div>

        <div class="dot-containerss">
          <span class="dotss" onclick="currentSlidesss(1)"></span>
          <span class="dotss" onclick="currentSlidesss(2)"></span>
          <span class="dotss" onclick="currentSlidesss(3)"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="newsheader d-flex align-items-center justify-content-center">
  <h1 style="text-align: center; font-size:28px;">Xəbərlər </h1>
  <h3 style="text-align:right;position:absolute;right:10px;font-size:18px;"><a href="/news">Bütün Xəbərlər</a></h3>
</div>





<div class="slider center">
  {%for news in news%}
  <div class="clip">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <div class="img">
            <img src={{news.url}} class="img-fluid " alt="...">
          </div>
        </div>
        <div class="col-md-8">
          <div style="padding: unset !important;" class="card-body">
            <a href="/news/{{news.title}}">
              <h5 style=" width: 80%;" class="card-title">{{news.title}}</h5>
            </a>
            {% if news.description%}

            <p style="color:gray ;  width: 90%;" class="card-text mt-2">{{news.description}}</p>
            {%else%}
            <p></p>
            {% endif%}
            <p style=" position: absolute;
            top: 5px;
            right: 7px;
            font-size: 12px;
            color: gray;
        ">{{news.created_At}}</p>

          </div>
        </div>
      </div>

    </div>


  </div>
  {%endfor%}
</div>
</div>


{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}